attr==0.3.2
beautifulsoup4==4.14.3
colorama==0.4.6
ConfigParser==7.2.0
cryptography==48.0.0
docutils>=0.21,<0.23
filelock==3.29.0
geocoder==1.38.1
htmlparser==0.0.2
ipython==9.14.0
ipywidgets==8.1.8
keyring==25.7.0
Kivy==2.3.1
Kivy-examples==2.3.1
Pillow==12.2.0
protobuf==7.35.0
pyOpenSSL==26.2.0
redis==8.0.0
requests==2.34.2
Sphinx==9.1.0
thread==2.0.6
urllib3-secure-extra==0.1.0
